<div class="container">
    <div class="py-5 text-center">
      <h3>Por favor completar todos los campos para poder registrar el Bar</h3>
    </div>
  
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Nuevo Bar</h4>
        <form #userForm="ngForm" class="needs-validation" novalidate="" (ngSubmit)="onSubmit(userForm.value)">
            <div class="mb-3">
                <label>Name</label>
                <input type="text" class="form-control" name="name" required ngModel>
                <div class="invalid-feedback" ng-show="myform.myfield.$error.required">
                  Please enter a valid email address for shipping updates.
                </div>
            </div>
            <div class="mb-3">
                <label >phone</label>
                <input type="text" class="form-control" name="phone" required ngModel>
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
            </div>
          <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" name="email" placeholder="you@example.com" required ngModel>
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="domicilio">Direccion</label>
            <input type="text" class="form-control" name="domicilio" placeholder="Av.Rivadavia 1234" required ngModel>
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="cuit">Cuit</label>
            <input type="text" class="form-control" name="cuit" required ngModel>
            <div class="invalid-feedback" [attr.disabled]="invalidCuit">
              Cuit already in use
            </div>
          </div>
          <div class="mb-3">
            <label for="horario">Horario</label>
            <input type="text" class="form-control" name="horario" required ngModel>
          </div>
  
          <div class="mb-3">
            <label for="puntuacion">Puntuacion</label>
            <input type="text" class="form-control" name="puntuacion" required ngModel>
          </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="parking" ngModel>
            <label class="custom-control-label" for="save-info">Cuenta con estacionamiento</label>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!userForm.valid">Agregar</button>
        </form>
      </div>
  </div>