<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{pub.nombre}}</h1>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="row">
            <h5>Domicilio: </h5>
            <p class="lead"> {{pub.domicilio}}</p>
        </div>
    </div>
    <div class="row text-center">
        <h5>email: </h5>
        <p class="lead"> {{pub.email}}</p>
    </div>
    <div class="row text-center">
        <h5>phone: </h5>
        <p class="lead"> {{pub.phone}}</p>
    </div>
    <div class="row text-center">
        <h5>cuit: </h5>
        <p class="lead"> {{pub.cuit}}</p>
    </div>
    <div class="row text-center">
        <h5>horario: </h5>
        <p class="lead"> {{pub.horario}}</p>
    </div>
    <div class="row text-center">
        <h5>puntuacion: </h5>
        <p class="lead"> {{pub.puntuacion}}</p>
    </div>
    <div class="row text-center">
        <h5>parking: </h5>
        <p class="lead"> {{pub.parking}}</p>
    </div>
</div>