<div class="container marketing">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="card mb-4 shadow-sm card-body">
            <h2>{{pub.nombre}}</h2>
            <div class="row text-center">
                <p>Domicilio: {{pub.domicilio}}</p>
            </div>
            <div class="row text-center">
                <p>email: {{pub.email}}</p>
            </div>
            <div class="row text-center">
                <p>phone: {{pub.phone}}</p>
            </div>
            <div class="row text-center">
                <p>cuit: {{pub.cuit}}</p>
            </div>
            <div class="row text-center">
                <p>horario: {{pub.horario}}</p>
            </div>
            <div class="row text-center">
                <p>puntuacion: {{pub.puntuacion}}</p>
            </div>
            <div class="row text-center">
                <p>parking: {{pub.parking}}</p>
            </div>

            <p><a class="btn btn-secondary" href="#" role="button">< Volver</a></p>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>